<div class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover">
  <div class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">
    <!--Img Col-->
    <div class="w-full lg:w-2/5">
      <!-- Image on the side (desktop) -->
      <img class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block">
    </div>
    <!--Main Col-->
    <div id="profile"
      class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-lg shadow-2xl bg-white opacity-75 mx-6 lg:mx-0">


      <div class="p-4 md:p-12 text-center lg:text-left">
        <!-- Image for mobile view-->
        {{!-- <div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center"
          style="background-image: url('{{picture_link}}')"></div> --}}

        <h1 class="text-3xl font-bold pt-8 lg:pt-0 text-center">{{title}}</h1>
        <div class="mx-auto lg:mx-0 w-5/5 pt-3 border-b-2 border-green-500 opacity-25"></div>
        <h2 class="text-1xl pt-8 lg:pt-0 text-center">{{text}}</h2>
        <br>
        <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start">Created by
          User: {{user.name}} at {{created_at}}</p>
        <br>
        <br>
        <br>
        {{#if logged_in}}
        <Form class="userComment">
          <input class="form-input" type="text" id="comment" placeholder="Comment here" required minlength="1" />
          <button class="bg-green-700 hover:bg-green-900 text-white font-bold py-2 px-4 rounded-full btn btn-primary"
            type="submit-comment">Comment</button>
          {{else}}
          <a href="/login" class="text-green-700" style="padding: 10px"><b>Login to use comment function</b> &nbsp;
            &nbsp;
            &nbsp; &nbsp; &nbsp; </a>
          {{/if}}
        </Form>
      </div>
    </div>
  </div>
</div>